<!DOCTYPE html>
<html>
	<head>
		<% include includes/_head %>
	</head>
	<body data-page="index">
		<% include includes/head %>
		<% include includes/menu %>
		<div class="Body">
			<% include includes/services %>
			<div class="Separator" id="Compare">
				<div class="left"><h2 data-sr="wait .5s enter">Классический офис</h2></div>
				<div class="right"><h2 data-sr="wait .5s enter">Облачный офис</h2></div>
			</div>
			<div class="auto-width margin-h-center">
				<div class="Compare">
					<div class="line"></div>
					<div class="left">
						<p>Пример индивидуальной IT инфраструктуры для офиса и сопутствующие расходы.</p>
						<div class="group">
							<div><button class="reason" data-sr="wait enter right">Разовые расходы<i class="glyphicon glyphicon-off Icon"></i></button></div>
							<div class="content">
								<div>
									<button class="reason" data-sr="wait enter right">Покупка оборудования<i class="glyphicon glyphicon-hdd Icon"></i></button>
									<button class="price">~50.000р.</button>
								</div>
								<div>
									<button class="reason" data-sr="wait enter right">Установка сети и АТС<i class="glyphicon glyphicon-phone-alt Icon"></i></button>
									<button class="price">~30.000р.</button>
								</div>
								<div>
									<button class="reason" data-sr="wait enter right">Монтаж и установка<i class="glyphicon glyphicon-wrench Icon"></i></button>
									<button class="price">~10.000р.</button>
								</div>
								<div>
									<button class="reason" data-sr="wait enter right">Покупка программ<i class="glyphicon glyphicon-file Icon"></i></button>
									<button class="price">~20.000р.</button>
								</div>
								<div>
									<button class="reason" data-sr="wait enter right">Настройка<i class="glyphicon glyphicon-tasks Icon"></i></button>
									<button class="price">~20.000р.</button>
								</div>
							</div>
						</div>
						<div class="group">
							<div><button class="reason" data-sr="wait enter right">Постоянные расходы<i class="glyphicon glyphicon-refresh Icon"></i></button></div>
							<div class="content">
								<div>
									<button class="reason" data-sr="wait enter right">Амортизация оборудования<i class="glyphicon glyphicon-compressed Icon"></i></button>
									<button class="price">~10.000р.</button>
								</div>
								<div>
									<button class="reason" data-sr="wait enter right">Администрирование<i class="glyphicon glyphicon-headphones Icon"></i></button>
									<button class="price">~50.000р.</button>
								</div>
								<div>
									<button class="reason" data-sr="wait enter right">Администратор 1С<i class="glyphicon glyphicon-floppy-disk Icon"></i></button>
									<button class="price">~50.000р.</button>
								</div>
								<div>
									<button class="reason" data-sr="wait enter right">Провайдеры сети<i class="glyphicon glyphicon-sort Icon"></i></button>
									<button class="price">~50.000р.</button>
								</div>
							</div>
						</div>
					</div>
					<div class="right">
						<p>Аналогочная IT инфраструктура в облаке, с сопутствующими возможностями.</p>
						<div class="group">
							<button class="price">~40.000р./мес.</button>
							<div>
								<button class="reason" data-sr="wait enter left"><i class="glyphicon glyphicon-cloud Icon"></i>Аренда облака (всё включено)</button>
							</div>
							<div class="content">
								<div>
									<button class="reason" data-sr="wait enter left"><i class="glyphicon glyphicon-globe Icon"></i>Доступ из любой точки мира
									<template>
									Рабочий процесс больше не зависит от места, конкретного устройства или программ на нём.
									</template>
									</button>
								</div>
								<div>
									<button class="reason" data-sr="wait enter left"><i class="glyphicon glyphicon-time Icon"></i>Работа и отчеты 24 часа в сутки 365 дней в году
									<template>
									 Единственное что необходимо для работы - доступ к интернету, и вы получаете полный спектр возможностей.
									</template>
									</button>
								</div>
								<div>
									<button class="reason" data-sr="wait enter left"><i class="glyphicon glyphicon-signal Icon"></i>Масштабируемость
									<template>
									Гибкая настройка пакета услуг -легко изменяйте количество рабочих мест, используемые мощности и программы по мере необходимости. Никаких ограничений.
									</template>
									</button>
								</div>
								<div>
									<button class="reason" data-sr="wait enter left"><i class="glyphicon glyphicon-earphone Icon"></i>VoIP телефония
									<template>
									Простота в использовании, больше функций чем в обычной телефонии и конечно же экономия - звонки между офисами в разных городах и странах становятся бесплатными, используя линию интернета.
									</template>
									</button>
								</div>
								<div>
									<button class="reason" data-sr="wait enter left"><i class="glyphicon glyphicon-flash Icon"></i>Отказоустойчивость
									<template>
									Наши сервисы проверены жесточайшими нагрузками, что даёт гарантию стабильной работы срвиса на протяжении всего рабочего времени.
									</template>
									</button>
								</div>
								<div>
									<button class="reason" data-sr="wait 1s enter left"><i class="glyphicon glyphicon-bell Icon"></i>Автоматическое резервное копирование
									<template>
									Все данные мы надёжно сберегаем от непредвиденных обстаятельств, регулярно делая резевные копии. Ваша информация - наша забота.
									</template>
									</button>
								</div>
								<div>
									<button class="reason" data-sr="wait 1.2s enter left"><i class="glyphicon glyphicon-tower Icon"></i>Безопасность
									<template>
									За счёт хранения информации не на локальных компьютерах, а на наших серверах вы укрепляете корпоративную безопасность. Алгоритмы шифрования и защиты не позволят злоумышленникам получить доступ к вашей информации.
									</template>
									</button>
								</div>
								<div>
									<button class="reason" data-sr="wait 1.3s enter left"><i class="glyphicon glyphicon-ok Icon"></i>Аутсорсинг администрирование
									<template>
									Все работы по обновлению програмного обеспечения и поддержанию работы оборудования выполняют наши специалисты.
									</template>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="Separator"  id="Pricelist">
				<h2>Прайс-лист</h2>
			</div>
			<div class="auto-width margin-h-center">
				<div class="Prices">
					<div class="PriceGreed">
						<div class="Price">
							<div class="Header">
								<span data-sr="wait enter left">Начальный</span><br/>
								<span data-sr="wait enter left">(5 рабочих мест)</span>
							</div>
							<div class="Content">
								<div class="UlContainer">
									<span class="HeadPluses">Организация рабочего пространства</span>
									<ul class="Pluses">
										<li data-sr="wait enter left">ОС Windows</li>
										<li data-sr="wait enter left">Libre Office</li>
										<li data-sr="wait enter left">Служба мгновенного обмена сообщениями внутри организации</li>
										<li data-sr="wait enter left">Корпоративная электронная почта</li>
										<li data-sr="wait enter left">VoIP</li>
										<li data-sr="wait enter left">1C бухгалтерия</li>
									</ul>
								</div>
								<div class="UlContainer">
									<span class="HeadPluses">Хостинг и резервное копирование</span>
									<ul class="Pluses">
										<li>1 сайт</li>
										<li>Ежедневный бэкап с ротационным периодом 7 дней (до 1 Гб)</li>
									</ul>
								</div>
							</div>
							<div class="Footer">
								<div class="Summ" data-sr="wait enter left">12 000 р.</div>
								<div class="Period" data-sr="wait enter left">в месяц</div>
								<a href="#Calculator" class="Btn Btn-Buy Btn-xl">Расчитать</a>
							</div>
						</div>
					</div>
					<div class="PriceGreed">
						<div class="Price" >
							<div class="Header">
								<span data-sr="wait enter center">Базовый</span><br/>
								<span data-sr="wait enter center">(10 рабочих мест)</span>
							</div>
							<div class="Content">
								<div class="UlContainer">
									<span class="HeadPluses">Организация рабочего пространства</span>
									<ul class="Pluses">
										<li data-sr="wait enter center">ОС Windows</li>
										<li data-sr="wait enter center">Libre Office</li>
										<li data-sr="wait enter center">Служба мгновенного обмена сообщениями внутри организации</li>
										<li data-sr="wait enter center">Корпоративная электронная почта</li>
										<li data-sr="wait enter center">ИП телефония</li>
										<li data-sr="wait enter center">1C бухгалтерия</li>
									</ul>
								</div>
								<div class="UlContainer">
									<span class="HeadPluses">Хостинг и резервное копирование</span>
									<ul class="Pluses">
										<li>1 сайт</li>
										<li>Ежедневный бэкап с ротационным периодом 7 дней (до 5 Гб)</li>
									</ul>
								</div>
							</div>
							<div class="Footer">
								<div class="Summ" data-sr="wait enter center">24 000 р.</div>
								<div class="Period" data-sr="wait enter center">в месяц</div>
								<a href="#Calculator" class="Btn Btn-Buy Btn-xl">Расчитать</a>
							</div>
						</div>
					</div>
					<div class="PriceGreed">
						<div class="Price" >
							<div class="Header">
								<span data-sr="wait enter right">Продвинутый</span><br/>
								<span data-sr="wait enter right">(20 рабочих мест)</span>
							</div>
							<div class="Content">
								<div class="UlContainer">
									<span class="HeadPluses">Организация рабочего пространства</span>
									<ul class="Pluses">
										<li data-sr="wait enter right">ОС Windows</li>
										<li data-sr="wait enter right">Libre Office</li>
										<li data-sr="wait enter right">Служба мгновенного обмена сообщениями внутри организации</li>
										<li data-sr="wait enter right">Корпоративная электронная почта</li>
										<li data-sr="wait enter right">ИП телефония</li>
										<li data-sr="wait enter right">1C бухгалтерия</li>
									</ul>
								</div>
								<div class="UlContainer">
									<span class="HeadPluses">Хостинг и резервное копирование</span>
									<ul class="Pluses">
										<li>2 сайта</li>
										<li>Ежедневный бэкап с ротационным периодом 7 дней (до 10 Гб)</li>
									</ul>
								</div>
							</div>
							<div class="Footer">
								<div class="Summ" data-sr="wait enter right">48 000 р.</div>
								<div class="Period" data-sr="wait enter right">в месяц</div>
								<a href="#Calculator" class="Btn Btn-Buy Btn-xl">Расчитать</a>
							</div>
						</div>	
					</div>
				</div>
			</div>

			<div class="Separator" id="Mailer">
				<h2>Свяжитесь с нами</h2>
			</div>
			
			<div class="Mailer auto-width-2 margin-h-center">
				<input type="text" data-sr="wait enter bottom" placeholder="ФИО">	
				<input type="text" data-sr="wait enter bottom" placeholder="Телефон">	
				<input type="text" data-sr="wait enter bottom" placeholder="Почта">	
				<textarea rows="4" data-sr="wait enter bottom" placeholder="Сообщение"></textarea>
				<input type="submit" class="Btn Btn-Buy Btn-xl" value="отправить">
			</div>

			<br><br><br><br>
			<div class="Separator Footer">
				<div class="auto-width margin-h-center">
					<h6>Copyright <i class="glyphicon glyphicon-copyright-mark Icon"></i> OfBox 2014</h6>
				</div>
			</div>
		</div>
		<div class="BorderLeft"></div>
		<div class="BorderRight"></div>
	</body>
</html>