div.Services
	overflow hidden
	
	div.Service
		display block
		span(1/5)
		padding 20px 0px
		relative(left 0 top 0)
			
		height 100px
		+from-width(scale[3])
			height 130px
		
		text-align center
		cursor pointer
		user-select(none)
		
		&:hover
			background-color rgba(darken(blue, 15%), 90%)
		
		&:active
			background-color rgba(darken(blue, 20%), 90%)
		
		> div.Icon
			margin-bottom 10px
			font-size 1.8em
		
		> div.name
			font-size 1.3em
		
		> div.description
			font-size 0.9em
			color rgba(white, 60%)
			display none
			
			+from-width(scale[3])
				display block