@import "osws-selectors-styl"
@import "osws-native-styl"
@import "osws-helpers-styl"
@import "osws-defaults-styl"

@import "rupture"
@import "jeet"

@import "imports/Glyphicons"

font-face('ubuntu','../fonts/')
font-face('ShadowsIntoLight','../fonts/')

OSWS-Defaults()
Glyphicons()

// OfBox

// Variables

scale = 0 400px 600px 800px 1000px 1200px 1400px
widths = auto 400px 600px 780px 980px 1190px 1380px

tooltips-z-index = 999999

yellow = #f0ad4e
blue = #2ea0e6
blue-dark = darken(blue, 50%)
green = darken(green, 15%)

// Helpers

auto-width(i=0)
	width widths[0]
	for j in 3..6
		+from-width(scale[j])
			width widths[j+i]

border-triangle(direction='top', size=10px, color=#000)
	size 0
	
	if direction == 'top' || direction == 'up' || direction == '^'
		border-left: size solid transparent
		border-right: size solid transparent
		border-bottom: size solid color
	else if direction == 'bottom' || direction == 'down' || direction == 'v'
		border-left: size solid transparent
		border-right: size solid transparent
		border-top: size solid color
	else if direction == 'left' || direction == '<'
		border-top: size solid transparent
		border-bottom: size solid transparent
		border-right: size solid color
	else if direction == 'right' || direction == '>'
		border-top: size solid transparent
		border-bottom: size solid transparent
		border-left: size solid color

.auto-width
	auto-width()
	
.auto-width-1
	auto-width(-1)
	
.auto-width-2
	auto-width(-2)

.margin-h-center
	margin-h-center()
// Mixins

@import "imports/Logo"
@import "imports/Name"

// Apply

DocumentShadow(size = 70px)
	box-shadow inset (size*1) 0 0 rgba(white, 10%), inset (size*2) 0 0 rgba(white, 7%), inset (size*3) 0 0 rgba(white, 4%), inset (size*4) 0 0 rgba(white, 2%), inset -(size*1) 0 0 rgba(white, 10%), inset -(size*2) 0 0 rgba(white, 7%), inset -(size*3) 0 0 rgba(white, 4%), inset -(size*4) 0 0 rgba(white, 2%)

body
	overflow-y hidden
	DocumentShadow(0px)
	+from-width(scale[4])
		DocumentShadow(40px)
	+from-width(scale[5])
		DocumentShadow(70px)
	+from-width(scale[6])
		DocumentShadow(100px)
	
html, body
	font-family 'ubuntu', sans-serif
	background-color blue
	color white
	overflow-x hidden
	
	font-size 1em
	
	*
		text-selection(darken(blue, 20%), white)
	
	h1, h2, h3, h4 ,h5, h6
		text-align center
		padding-top 1em
		padding-bottom .5em
	
	p
		margin .75em 0
		line-height 1.5em
	ul
		margin .75em 0
	
	li
		margin .25em 0

ul.Pluses > li, li.Plus
	relative()
	display block
	margin-left 1.5em
	&:before
		absolute(top -.1em left -1em)
		content "+"
		font-weight bold
		font-size 1.2em
		color green

.Head

	box-shadow inset 0 70px*1 0 rgba(white, 10%), inset 0 70px*2 0 rgba(white, 7%), inset 0 70px*3 0 rgba(white, 4%), inset 0 70px*4 0 rgba(white, 2%)

	padding-v(25px)
	
	+from-width(scale[2])
		padding-v(50px)
	
	.wrap
		auto-width()
		margin-h-center()
		relative 0

		.sides
			width 100%
			display none
			+from-width(scale[3])
				display block
			absolute 0
			
			.left, .right
				font-size 2em
				for z in 3..6
					+from-width(scale[z])
						width:((widths[z] - 200px) / 2 )
		
			.left
				absolute left 0
				padding-right 100px
				+to-width(900px)
					font-size 1.7em
				text-align right
				padding-v 2.5em

				>* 
					line-height 1.5em
					height 200px
					transition all .5s
					// font-size .8em
			.right
				absolute right 0
				padding-left 100px
				+to-width(900px)
					font-size 1.7em
				font-size 2.25em
				min-height 200px
				
				>*
					line-height 1.5em
					text-align left
					position absolute
					opacity 0
					transition all .5s
					height 200px
					cursor default
					
					&:nth-child(2)
						font-size .9em

				>.active
					opacity 1
					transition all .5s
					
		.Logo
			margin 25px auto
			
			// LogoClose(400px / 3, 2px, 10px)
			// &:hover
			// 	LogoPreClose(400px / 3, 2px, 10px)
			// &.opened
			// 	LogoOpen(400px / 3, 2px, 10px)
			
			// +from-width(scale[2])
			// 	LogoClose(500px / 3, 2px, 10px)
			// 	&:hover
			// 		LogoPreClose(500px / 3, 2px, 10px)
			// 	&.opened
			// 		LogoOpen(500px / 3, 2px, 10px)
			
			// +from-width(scale[4])
			LogoClose(200px, 2px, 10px)
			&:hover
				LogoPreClose(200px, 2px, 10px)
			&.opened
				LogoOpen(200px, 2px, 10px)
			z-index 15

.Menu
	background-color darken(blue, 15%)
	color white
	height 80px
	
	button
		height 80px
		span(1/3)
		text-align center
		font-size 1.5em
		
		&:hover
			background-color darken(blue, 20%)
		
		&:active
			background-color darken(blue, 25%)
	
	.Name
		Name(400px / 9, yellow)
		cursor pointer

.Separator
	background-color darken(blue, 15%)
	color white
	min-height 40px
	
	h1, h2, h3, h4, h5, h6
		padding 0.5em
		font-weight normal

@import "imports/Services"
@import "imports/Compare"

.Footer
	text-align center
	
	> .wrap
		margin-h-center()
		auto-width()
		padding-v 1em

.Btn
	background-color blue
	color white
	padding .5em
	font-size 1em
	text-decoration none
	text-align center
	
	&.Btn-xs
		padding .5em
		font-size .7em
	
	&.Btn-s
		padding .5em
		font-size .9em
	
	&.Btn-m
		padding .5em
		font-size 1em
	
	&.Btn-l
		padding .5em
		font-size 1.1em
	
	&.Btn-xl
		padding .5em
		font-size 1.3em

.Btn-Buy
	display block
	background: rgba(darken(blue,25%),90%)
	
	&:hover
		background-color darken(blue, 10%)
	&:active
		background-color darken(blue, 15%)

@import "imports/Tooltips"

Tooltips(tooltips-z-index)
.tooltipster-Service
	Tooltips-theme(rgba(lighten(blue, 95%), 75%), darken(blue, 50%), 20px)
	width 350px
	font-size 1.2em

.tooltipster-Price
	Tooltips-theme(rgba(lighten(blue, 95%), 75%), darken(blue, 50%), 10px)
.tooltipster-Reason
	Tooltips-theme(rgba(lighten(blue, 95%), 75%), darken(blue, 50%), 10px)
	width 250px

@import "imports/Prices"
@import "imports/Mailer"