<title>OfBox</title>

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">

<meta charset="utf-8">

<!-- <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light|Ubuntu:400,300,700,500&subset=latin,cyrillic' rel='stylesheet' type='text/css'> -->

<script src="/socket.io/socket.io.js"></script>

<script type="text/javascript" src="./libs/jquery.min.js"></script>

<script type="text/javascript" src="./libs/jquery-ui/jquery-ui.min.js"></script>

<script type="text/javascript" src="./libs/jquery.tooltipster/js/jquery.tooltipster.min.js"></script>

<script type="text/javascript" src="./libs/lodash.min.js"></script>

<script type="text/javascript" src="./libs/scrollReveal.min.js"></script>

<script type="text/javascript" src="./libs/backbone-min"></script>

<script>jQuery(function(){window.sr = new scrollReveal({ reset: true });});</script>

<link rel="stylesheet" href="./css/index.css"/>

<script type="text/javascript" src="./libs/require.js" data-main="./js/index.js"></script>

