<div class="Head">
	<div class="wrap">
		<div class="sides">
			<div class="left" data-sr="enter move left">
				<a href="mailto:sales@ofbox.ru">sales@ofbox.ru</a>
			</div>
			<div class="right">
				<button>
					Офис из<br/>коробки
				</button>
				<button>
					Облачные решения<br/>для среднего<br/>и малого бизнеса
				</button>
			</div>
		</div>
		<div class="Logo">
			<div class="Box">
				<div></div><div></div><div></div><div></div>
			</div>
			<div class="Content">Офис из коробки</div>
		</div>
	</div>
</div>