<div class="Menu">
	<div class="auto-width margin-h-center">
		<a href="#Compare"><button data-sr="wait .7s enter left">Сравнение</button></a>
		<a href="#"><button class="Name">
			<span data-sr="wait .3s enter left">of</span><span data-sr="wait .6s enter left">[</span><span data-sr="wait .8s enter">Box</span><span data-sr="wait .6s enter right">]</span>
		</button></a>
		<a href="#Mailer"><button data-sr="wait .7s enter right">Связаться</button></a>
	</div>
</div>